@import url(reset.css);
@import url(common.css);
    
body {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #637381;
    background-color: #fff;
}
.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.wrapper > main {
    flex-grow: 1;
}
[class*="__container"] {
    max-width: 730px; /* 700 + 15 + 15 */
    padding: 0px 15px;
    margin: 0 auto;
}
.page__forms {
    padding: 80px 0px;
}
/*-------------------------*/
.header-forms {
    padding-bottom: 37px;
}
.header-forms__title {
    display: inline-block;
    font-size: 44px;
    line-height: 1.25; /* 55/44 */
    font-weight: 700;
    color: #212B36;
    padding-bottom: 57px;
}
.header-forms__text {
    padding-bottom: 30px;
}
.header-forms__sub-title {
    display: inline-block;
    font-size: 24px;
    line-height: 1.25; /* 30/24 */
    font-weight: 700;
    color: #212B36;
}
/*-------------------------*/
.item-forms {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.item-forms:not(:last-child) {
    padding-bottom: 30px;
}
.item-forms__row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.item-forms__line {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #637381;
    flex: 0 1 50%;
    height: 54px;
    border: 1px solid #E7E7E7;
    border-radius: 7px;
    padding: 17px 25px;
    width: 100%;
}
.item-forms__input {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #637381;
}
select {
    width: 100%;
}
/*-------------------------*/
.forms__information:not(:last-child) {
    margin-bottom: 22px;
}
.forms__area {
    width: 100%;
    height: 180px;
    padding: 14px 15px;
    resize: vertical;
    border: 1px solid #E7E7E7;
    border-radius: 7px;
    padding-left: 25px;
    width: 100%;
}
/*-------------------------*/
.forms__selection:not(:last-child) {
    padding-bottom: 30px;
}
/*-------------------------*/
.applycode-container__title {
    color: #212B36;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    padding-bottom: 42px;
}
.applycode-container__row {
    display: flex;
    gap: 20px;
    max-height: 48px;
}
.row-applycode__input {
    flex: 0 1 325px;
    height: 48px;
    border: 1px solid #E7E7E7;
    border-radius: 7px;
    padding: 12px 22px;
}
@media (max-width: 537px) {
    .item-forms {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    .item-forms__row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 15px;
        flex: 0 1 100%;
    }
    .item-forms__line {
        align-items: stretch;
        font-size: 16px;
        line-height: 1.5;
        height: 54px;
        width: 100%;
    }
    .applycode-container__row {
        display: flex;
        flex-direction: column;
        gap: 15px;
        
    }
    .header-forms__title {
        padding-bottom: 27px;
    }
    .header-forms__text {
        padding-bottom: 15px;
    }
    .header-forms {
        padding-bottom: 27px;
    }
    .forms__selection:not(:last-child) {
        padding-bottom: 20px;
    }
    .applycode-container__title {
        padding-bottom: 27px;
    }
    .row-applycode__input {
        flex: 0 1 507px;
        height: 48px;
    }
}
/*----------page-shipping---------------*/
.page__shipping {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25; /* 20/16 */
}
.shipping__address {
    
}
/*-------------------------*/
.address-shipping__title {
    padding-bottom: 34px;
}
.span {
    color: #EB5757;
    padding-left: 7px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.form__line {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}
.form__label {
    flex: 0 1 140px;
}
.form__input,
.form__select {
    flex: 0 1 451px;
    height: 44px;
    border: 1px solid #C4C4C4;
    padding: 10px 16px;
    justify-self: flex-end;
}
.address-shipping__text {
    color: #828282;
    font-size: 14px;
    padding: 15px 0px;
}
.address-shipping__button {
    display: flex;
    gap: 25px;
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 36px;
}
.address-shipping__question {
    display: flex;
    align-items: center;
    color: #0F6DB1;
    font-size: 14px;
}
/*-----------shipping__main--------------*/
.shipping__main {
    padding: 39px 0px 46px;
}
/*------------shipping__methods-------------*/
.method-shippeng__title {
    border-bottom: 1px solid #C4C4C4;
}
.method-shippeng__redio {
}
.radio-form {
    display: flex;
    flex-direction: column;
}
.radio-form__box {
    max-width: 443px;
}
.radio__item_line {
    border-top: 1px solid #C4C4C4;
}
.radio__item {
    display: flex;
    align-items: center;
    position: relative;
}
.radio__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}
.radio__input:checked + .radio__label::before {
    background: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 50%;
}
.radio__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42; /* 20/14 */
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
.radio__label::before {
    content: "";
    flex: 0 0 10px;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 50%;
}
.radio__text {
    flex: 0 1 33.333%;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42; /* 20/14 */
    cursor: pointer;
    color: #3F3F3F;
    padding: 15px 10px;
}
.method-shippeng__buttons {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 550px) {
    .form__line {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-content: stretch;
    }
    .form__label,
    .form__select,
    .form__input {
        flex: 0 1 498px;
    }
    .form__line_end {
        display: flex;
    }
    .form__line_end > input {
        align-items: flex-start;
    }
    .address-shipping__title {
        padding-bottom: 24px;
    }
    .address-shipping__button {
        padding-bottom: 26px;
    }
}