@function rem($px) {
    $result: math.div($px, 16) + rem;
    @return $result;
}
@function em($px, $current: 16) {
    $result: math.div($px, $current) + em;
    @return $result;
}
@mixin title($color: #F8F9FA) {
    font-weight: 700;
    font-size: rem(25);
    line-height: 1.60; /* 40/25 */
    color: $color;
}@mixin title_small() {
    font-weight: 500;
    font-size: rem(16);
    line-height: 1.56; /* 25/16 */
    color: #212529;
}

